<h1>All questions</h1>

<span>
  Back to <%= link_to "problem", @problem %>
</span>
<%= link_to "New Question?", new_problem_question_path(@problem) %>

<ul class="questions">
  <%= render @questions %>
</ul>