<table class="question" summary="Question information">
  <tr>
	<td class="main">
      <span>
        Back to <%= link_to "Questions", problem_questions_path(@problem) %>
      </span>
	  <h1>
  		<span id="text"><%= @question.text %></span>
        <%= link_to "Edit Question", edit_question_path(@question) %>
	  </h1>
      <span class="weight">
        <%= @question.weight %>
      </span>
  </tr>
</table>