<table class="problem" summary="Problem information">
  <tr>
	<td class="main">
      <span>
        Back to <%= link_to "Problems", root_path %>
      </span>
	  <h1>
  		<span id="name"><%= @problem.name %></span>
        <%= link_to "Edit Information", edit_problem_path(@problem) %>
	  </h1>
      <p>
        <%= @problem.comment %>
      </p>
  </tr>
</table>