<li>
  <span>
    <%= answer.question.text %>
  </span>
  <span>
    <%= f.text_field :rating %>
  </span>
  <span>
    <%= f.text_field :comment %>
  </span>
  <%= f.hidden_field :question_id %>
</li>