<tr>
  <td class="question">
    <!-- TODO - need to deal with wrapping long text -->
	<span class="text"><%= question_item.text %></span>
	<span class="weight"><%= question_item.weight %></span>
  </td>
  <% if current_user?(question_item.problem.user) %>
  <td>
	<%= link_to "delete", question_item, :method => :delete, :confirm => "You sure?", :title => question_item.text %>
  </td>
  <% end %>
</tr>