<% unless @solutions.empty? %>
  <table class="solutions" summary="User solutions">
	<%= render :partial => 'shared/solution_item', :collection => @solutions %>
  </table>
  <%= will_paginate @solutions %>
<% end %>