<tr>
  <td class="solution">
    <span>
      <% if solution_item.completed %>
        <%= number_to_percentage(solution_item.match_decimal * 100, :precision => 1) %>
      <% else %>
        INC
      <% end %>
    </span>
	<span class="name">
	  <%= link_to solution_item.name, solution_item %>
	</span>
    <!-- TODO - need to deal with wrapping long comments -->
	<span class="comment"><%= solution_item.comment %></span>
  </td>
  <% if current_user?(solution_item.problem.user) %>
  <td>
	<%= link_to "delete", solution_item, :method => :delete, :confirm => "You sure?", :title => solution_item.name %>
  </td>
  <% end %>
</tr>