<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li class="active">About</li>
</ul>

<h1>About</h1>
<p>This website's original purpose was to help provide a way to help medical students rank their residency choices based on a set of questions.</p>
