<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li class="active">Contact</li>
</ul>

<h1>Contact</h1>
<p>If you have any questions or suggestions, please send an email to admin[at]residencyranker[dot]com</p>