<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li class="active">Help</li>
</ul>

<h1>Help</h1>
<p>In order to use the Residency Ranker, create a questionnaire (or use our template and add your own!) of important questions. Then create solutions (programs) and answer the questions for each solution to get a scientific look at how you should rank your programs.</p>
