<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li class="active">Help</li>
</ul>

<h1>Help</h1>
<p>Residency Ranker was originally created to allow medical students to scientifically determine their rank list based on a series of questions that they decide upon. The user gets the chance to rate on a scale of 1 to 5 how important each question is, and then rates each Program on how well it matches the critiera.</p>