<% if user_signed_in? %>
  <div class="main">
    <%= link_to "New Problem?", new_problem_path %>
    <%= render 'shared/problems' %>
  </div>
<% else %>
  <h1>Got a problem? Solve it.</h1>
  <p>
    Create a series of questions to help solve your problem by rating each possible solution.
  </p>
  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
<% end %>