<% if user_signed_in? %>
  <div class="main">
    <%= link_to "New Problem?", new_problem_path, :class => "new_problem_button round left" %>
    <%= link_to "Start with Residency template!", copy_problem_path(1), :class => "template_button round right" %>
    <%= render 'shared/problems' %>
    <div class="clear"></div>
  </div>
<% else %>
  <h1>Got a problem? Solve it.</h1>
  <p>
    Create a series of questions to help solve your problem by rating each possible solution.
  </p>
  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
<% end %>