.container {
  width: 710px;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

body {
  background: #0776A0;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Links */

a {
  color: 09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.round_top {
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

.round_bottom {
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0 -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Problems */

ul.problems {
  margin-top: 1em;
}

.problems li {
  list-style: none;
  margin-bottom: 20px;
}

.problems li div.problem {
  background-color: #FF7D73;
  border: 1px solid #000;
}

.problems li div.problem div.information {
  margin-left: 25px;
}

.problems li div.solutions li {
  margin-bottom: 0px;
}

.problems li div.solutions li.hide {
  list-style: none;
}

.problem_solution {
  margin-left: 100px;
  margin-right: 25px;
  border: 1px solid #000;
  border-top: 0px;
  background-color: #FFD373;
}

.problem_solution div.information {
  padding: 5px;
}

.problem_solution span.ranking {
    
}

.problem_solution span.name {
  
}

.problem_solution span h3 {
  display: inline;
}

.hide_solutions {
  text-align: right;
  padding-right: 25px;
  background-color: #FF4E40;
}

.hide_solutions:hover {
  cursor: pointer;
}

/* answers */

ul.answers {

}

.answers li {
  margin-top: 1em;
  list-style: none;
  width: 100%;
  display: block;
}

.answers li span.question_text {
  float: left;
}

.answers li span.information {
  float: right;
  width: 40%;
}

.answers li span div {
  border: 1px solid #000;
  background-color: #FFD373;
  padding: 0px 5px;
}

.answers li span div.rating {
}

.answers li span div.comment, .answers li span div.toggle_comment {
  border-top: 0px;
}

.answers li span div.toggle_comment {
  text-align: right;
}

.answers li span div.toggle_comment:hover {
  cursor: pointer;
}

.answers li span div.comment textarea {
  height: 50px;
  width: 95%;
}