<li>
  <span class="ranking">
    <% if solution.completed %>
      <%= number_to_percentage(solution.match_decimal * 100, :precision => 1) %>
    <% else %>
      INC
    <% end %>
  </span>
  <%= link_to solution.name, solution %>
  <span class="comment">
    <%= solution.comment %>
  </span>
  <%= link_to "delete", solution, :method => :delete, :confirm => "You sure?",
                              :title => "Delete #{solution.name}" %>
</li>