<footer class="footer">
  <div class="container">
    <div>
      <p>Built by <a href="http://twitter.com/br0nc080" target="_blank">@br0nc080</a></p>
      <p>Any questions or comments appreciated.</p>
    </div>
  </div>
</footer>